# These are the default stages. You don't need to explicitly define them. But you could define any stages you need.
stages:
  - build

variables:
  # This will supress any download for dependencies and plugins or upload messages which would clutter the console log.
  # `showDateTime` will show the passed time in milliseconds. You need to specify `--batch-mode` to make this work.
  MAVEN_OPTS: "-Xmx4096m -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  # `installAtEnd` and `deployAtEnd`are only effective with recent version of the corresponding plugins.
  MAVEN_CLI_OPTS: "--settings ./settings.xml --batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true"
# Cache downloaded dependencies and plugins between builds.
# To keep cache across branches add 'key: "$CI_JOB_NAME"'
#cache:
#  paths:
#    - .m2/repository
#  key: "$CI_COMMIT_SHA" # Cache across branch and stage



# Test the optimize part
#optimize_mvn_test:
#  stage: test
#  tags:
#    - mvn # Runners must have maven installed
#  script:
#    - cd optimize
#    - mvn $MAVEN_CLI_OPTS clean test verify | tee out.log
#    - grep "INFO] BUILD SUCCESS" out.log
#  only:
#    - /^.*dev-optimize.*$/


build:
  image: maven
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS clean install | tee out.log
    - grep "INFO] BUILD SUCCESS" out.log
  artifacts:
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
